services:
  app:
    build: .
    ports:
      - "3001:3001"
    command: pnpm run dev
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    working_dir: /app
    depends_on:
      - mysql
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true

  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: 'database_development'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data: